@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: 'Poppins', sans-serif;
    background-color: #050D11;
    color: white;
  }
}

.clip-bg {
  clip-path: polygon(0% 10%, 0% 90%, 100% 80%, 100% 0%);
}

@media (min-width: 640px) {
  .clip-bg {
    clip-path: polygon(0% 30%, 0% 85%, 99% 70%, 100% 0%);
  }
}
